* {
  box-sizing: border-box;
}

body {
  text-align: center;
}

img {
  width: 200px;
  cursor: pointer;
}

.img-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  gap: 10px;
}

.canvas-container {
  padding: 20px;
  width: 450px;
  border: 1px solid #636365;
  margin: auto;
  background-color: #29278f;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid #000;
}

.hidden{
    display: none;
}
